.ListCont{
  background-color: black;
  padding: 10px;

  h2{
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
}

.TableCont {
  background-color: #1f1f1f; /* Dark background */
  color: white; /* White text */
}

.TableCont .ant-table-thead > tr > th {
  background-color: black; /* Header background */
  color: white; /* Header text */
}

.TableCont .ant-table-tbody > tr > td {
  background-color: black; /* Row background */
  color: white; /* Row text */
}

.TableCont .ant-table-row:hover  > td:hover  {
  background-color: blue; /* Row background */
  color: white; /* Row text */
}

.TableCont .ant-pagination-item  {
  background-color: black;
  color: white;
}

.TableCont .ant-pagination-item a{

  color: white;
}

.ant-pagination-item-ellipsis{
  color: white;
}

.TableCont .ant-select-selector{
  background-color: #333;
}